*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: gray solid;
    padding: 30px;
}
.hero{
     background-color: yellowgreen solid;
     color: rgba(51, 0, 255, 0.436);
     padding: 20px;
     border-radius: 15px;
     text-align: center;
}
.hero h2{
    font-size: 30px;
    padding: 12px;
    height: 30px;
    font-weight: 20; 
    justify-content: center;
    letter-spacing: 0.25;
    text-decoration: solid;
}
button[popovertarget="popover"]{
    font-size: 12px;
    font-family: Arial, sans-serif;
    margin: 10px;
    border-radius: 12px;
    padding: 10px;
}