*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: gray solid;
    padding: 30px;
}
.hero{
     background-color: yellowgreen solid;
     color: rgba(51, 0, 255, 0.436);
     padding: 20px;
     border-radius: 15px;
     text-align: center;
}
.hero h2{
    font-size: 30px;
    padding: 12px;
    height: 30px;
    font-weight: 900; 
    justify-content: center;
    letter-spacing: 0.2px;
}
button[popovertarget="popover"]{
    font-size: 12px;
    font-family: Arial, sans-serif;
    margin: 10px;
    border-radius: 12px;
    padding: 10px;
    cursor: pointer;
    background-color: rgb(255, 193, 127);
}
button[popovertarget="popover"]:hover{
    opacity: 0,9;
}
#popover{
    width: 430px;
    border-radius: 4px;
    border: 3px solid;
    padding: 18px 10px;
    margin-top: 200px;
    margin-left: 540px;
    background-color:rgba(255, 255, 255, 0.858);
.form{
  display: flex;
  flex-direction: column;
  gap: 14px;
}